* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #a0a0a0;
  box-shadow: inset  0  300px 300px -300px hsla(0,0%,0%,.8), 
              inset  0 -300px 300px -300px hsla(0,0%,0%,.8);
}

main {
  text-align: center;
  border: 1px solid #afafaf;
  width: 70%;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px 20px 40px;
  position: relative;
}

main p:nth-child(2) {
  margin: 10px 0;
}

main p:last-child {
  border-bottom: 2px solid #afafaf;
  width: 85%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  letter-spacing: 2px;
}

main input {
  width: 85%;
  height: 30px;
  outline: none;
  border: none;
  box-sizing: border-box;
  letter-spacing: 2px;
  text-align: center;
  background-color: #f0f0f0;
  font-size: 16px;
}

main button {
  width: 30%;
  height: 30px;
  outline: none;
  margin-left: 5px;
}

footer {
  text-align: center;
}

footer a {
  font-style: italic;
  color: #555;
}

@media screen and (max-width: 400px) {
  main {
    width: 80%;
  }

  main p:last-child {
    font-size: 14px;
  }
}